root = true

[*]
end_of_line = lf
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

[*.json]
indent_size = 2

[*.rb]
indent_size = 2

[*.erb]
indent_size = 2

[*.lua]
end_of_line = crlf

[*.vmsg]
end_of_line = crlf

[*.proto]
indent_size = 2
