<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d][%5p][%-30c{0}] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="net.ttddyy.dsproxy" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>

</configuration>
